/* Rofi config file */
configuration {
    font: "Source Sans Pro 12";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
}

//@theme "oxide"

listview {
    lines: 12;
}

//@theme "/usr/share/rofi/themes/arthur.rasi"

//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"

//@theme "/usr/share/rofi/themes/sidebar-v2.rasi"

//@theme "/home/EhwazM/.config/rofi/themes/oxide.rasi"

@theme "/usr/share/rofi/themes/arthur.rasi"
